<center><h2>Cập Nhật Khóa Học</h2></center>
<form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
  <div class="form-group">
    <label for="name">Tên Khóa Học:</label>
    <input type="text" class="form-control" id="name" value="{{course.name}}" aria-describedby="emailHelp" name="name" placeholder="Điền Tên Khóa Học">
  </div>
  <div class="form-group">
    <label for="description">Mô tả khóa học:</label>
    <input type="text" class="form-control" id="description" value="{{course.description}}"  name="description" placeholder="Điền Mô Tả Khóa Học">
  </div>

   <div class="form-group">
    <label for="videoID">videoID:</label>
    <input type="text" class="form-control" id="videoID" value="{{course.videoID}}"  name="videoID" placeholder="">
  </div>

   <div class="form-group">
    <label for="level">Trình độ:</label>
    <input type="text" class="form-control" id="level" value="{{course.level}}" name="level" placeholder="Điền Trình Độ">
  </div>

  
  <button type="submit" class="btn btn-primary">Lưu Lại</button>
</form>